/*-----основый цвет текста
first-color-text #212121;
secend-color-text #757575
white #FFFFFF;
accent #2196F3;---*/
.logo {
    text-decoration: none;
    color: #000000;
}

.list {
    list-style: none;
}

body {
    background-color: #FFFFFF;
    color: #212121;
}

.link {
    text-decoration: none;
}

/* ------------HEADER-------------- */


.header-link {
    color: #212121;
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
}

.header-contact {
    color: #757575
}

.header-contact:hover,
.header-contact:focus {
    color: #2196F3;
}

.site-nav a:hover,
.site-nav a:focus {
    color: #2196F3;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.contacts-address {
    font-style: normal;
}